.header_main{
    margin: 0px;
    background-color: black;
    min-height: 12vh;
}

.main_main{
    margin: 0px;
    background-color: gray;
    min-height: 100vh;
}

.footer_main{
    margin: 0px;
    background-color: black;
    min-height: 11vh;
}