h1{
  font-size: 50px;
  color: blue;
}

.header_main{
  background_color: black;
  margin: 0px;
  min_height: 10vh;
}

.main_main{
  background_color: gray;
  margin: 0px;
  min_height: 100vh;
}

.footer_main{
  background_color: white;
  min_height: 10vh;
}
